nav {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 0.2rem 1rem;
    border-radius: 5px;
    
    h1 {
        color: #3d98f4;
        cursor: pointer;
    }
}